content-dir: content
root-url-path: "courses"
collections:
  - name: page
    label: Pages
    label_singular: Page
    category: Content
    folder: content
    fields:
      - {"label": "Body", "name": "body", "widget": "markdown"}

  - name: resource
    label: Resources
    label_singular: Resource
    category: Content
    folder: content
    fields:
      - {"label": "Description", "name": "description", "widget": "text"}
      - {"label": "File", "name": "file", "widget": "file"}

  - name: metadata
    label: Metadata
    category: Settings
    files:
      - file: data/course.json
        name: sitemetadata
        label: Course Metadata
        fields:
          - label: Instructors
            name: instructors
            widget: relation
            collection: instructor
            display_field: title
            multiple: true
            website: ocw-www

  - name: menu
    label: Menu
    category: Settings
    files:
      - file: config/_default/menus.yaml
        name: navmenu
        label: Navigation Menu
        fields:
          - {
            "label": "Menu",
            "name": "mainmenu",
            "widget": "menu",
          }
