content-dir: content
collections:
  - name: page
    label: Page
    category: Content
    folder: content
    fields:
      - {"label": "Body", "name": "body", "widget": "markdown"}

  - name: resource
    label: Resource
    category: Content
    folder: content
    fields:
      - {"label": "Description", "name": "description", "widget": "text"}
      - {"label": "File", "name": "file", "widget": "file"}

  - name: metadata
    label: Metadata
    category: Settings
    files:
      - file: data/metadata.json
        name: sitemetadata
        label: Site Metadata
        fields:
          - { "label": "Course Title", "name": "title", "widget": "string", "required": true }
          - {
            "label": "Course Description",
            "name": "description",
            "widget": "markdown",
            "minimal": true,
            "help": "A description of the course that will be shown on the course site home page."
          }
