---
root-url-path: courses
collections:
  - category: Content
    folder: content/pages
    label: Pages
    name: page
    fields:
      - label: Title
        name: title
        widget: string
        required: true
        attach: "resource"

      - label: Body
        name: body
        widget: markdown

  - category: Content
    folder: content/resources
    label: Resources
    name: resource
    fields:
      - label: Title
        name: title
        required: true
        widget: string
      - label: Description
        name: description
        widget: markdown
        minimal: true
      - label: File Type
        name: filetype
        required: true
        widget: select
        options:
          - Image
          - Video
          - Document
          - Other
      - label: File
        name: file
        widget: file
      - label: "Course Feature Tags"
        name: "course_feature_tags"
        widget: select
        multiple: true
        options:
          - 'Activity Assignments'
          - 'Activity Assignments with Examples'
          - 'Competition Videos'
          - 'Course Introduction'
          - 'Demonstration Audio'
          - 'Demonstration Videos'
          - 'Design Assignments'
          - 'Design Assignments with Examples'
          - 'Exam Materials'
          - Exams
          - 'Exams with Solutions'
          - 'Image Gallery'
          - Labs
          - 'Lecture Audio'
          - 'Lecture Notes'
          - 'Lecture Videos'
          - 'Media Assignments'
          - 'Media Assignments with Examples'
          - 'Multiple Assignment Types'
          - 'Multiple Assignment Types with Solutions'
          - Music
          - 'Online Textbook'
          - 'Other Audio'
          - 'Other Video'
          - 'Presentation Assignments'
          - 'Presentation Assignments with Examples'
          - 'Problem Sets'
          - 'Problem Sets with Solutions'
          - 'Programming Assignments'
          - 'Programming Assignments with Examples'
          - Projects
          - 'Projects with Examples'
          - Readings
          - 'Recitation Videos'
          - 'Simulation Videos'
          - Simulations
          - Tools
          - 'Tutorial Videos'
          - 'Video Materials'
          - Videos
          - 'Workshop Videos'
          - 'Written Assignments'
          - 'Written Assignments with Examples'
      # show the field below only if the type of resource is "image"
      - label: Image Metadata
        name: metadata
        widget: object
        condition: { field: filetype, equals: Image }
        fields:
          - label: ALT text
            name: image-alt
            widget: string
          - label: Caption
            name: caption
            widget: string
          - label: Credit
            name: credit
            widget: text

  - category: Settings
    name: metadata
    label: Metadata
    files:
      - file: data/course.json
        name: sitemetadata
        label: Course Metadata
        fields:
          - label: "Course Title"
            name: "course_title"
            widget: "string"
            required: true
          - label: "Course Description"
            name: "course_description"
            widget: "markdown"
          - label: "Primary Course Number"
            name: "primary_course_number"
            widget: "string"
            required: true
          - label: "Extra Course Numbers (comma separated list)"
            name: "extra_course_numbers"
            widget: "string"
          - label: Course Image
            name: course_image
            widget: relation
            collection: resource
            display_field: title
            multiple: false
            filter:
              field: "filetype"
              filter_type: "equals"
              value: "Image"
          - label: Course Image Thumbnail
            name: course_image_thumbnail
            widget: relation
            collection: resource
            display_field: title
            multiple: false
            filter:
              field: "filetype"
              filter_type: "equals"
              value: "Image"
          - label: "Department Numbers"
            min: 1
            multiple: true
            name: "department_numbers"
            options:
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
              - '6'
              - '7'
              - '8'
              - '9'
              - '10'
              - '11'
              - '12'
              - '14'
              - '15'
              - '16'
              - '17'
              - '18'
              - '20'
              - 21A
              - 21G
              - 21H
              - 21L
              - 21M
              - '22'
              - '24'
              - CC
              - CMS-W
              - EC
              - ES
              - ESD
              - HST
              - IDS
              - MAS
              - PE
              - RES
              - STS
              - WGS
            widget: "select"
          - label: "Level"
            name: "level"
            options:
              - 'Undergraduate'
              - 'Graduate'
              - 'Both'
              - 'Non Credit'
            widget: "select"
          - label: "Course Feature Tags"
            name: "course_feature_tags"
            widget: select
            multiple: true
            options:
              - 'Activity Assignments'
              - 'Activity Assignments with Examples'
              - 'Competition Videos'
              - 'Course Introduction'
              - 'Demonstration Audio'
              - 'Demonstration Videos'
              - 'Design Assignments'
              - 'Design Assignments with Examples'
              - 'Exam Materials'
              - Exams
              - 'Exams with Solutions'
              - 'Image Gallery'
              - Labs
              - 'Lecture Audio'
              - 'Lecture Notes'
              - 'Lecture Videos'
              - 'Media Assignments'
              - 'Media Assignments with Examples'
              - 'Multiple Assignment Types'
              - 'Multiple Assignment Types with Solutions'
              - Music
              - 'Online Textbook'
              - 'Other Audio'
              - 'Other Video'
              - 'Presentation Assignments'
              - 'Presentation Assignments with Examples'
              - 'Problem Sets'
              - 'Problem Sets with Solutions'
              - 'Programming Assignments'
              - 'Programming Assignments with Examples'
              - Projects
              - 'Projects with Examples'
              - Readings
              - 'Recitation Videos'
              - 'Simulation Videos'
              - Simulations
              - Tools
              - 'Tutorial Videos'
              - 'Video Materials'
              - Videos
              - 'Workshop Videos'
              - 'Written Assignments'
              - 'Written Assignments with Examples'
          - label: Instructors
            name: instructors
            widget: relation
            collection: instructor
            display_field: title
            multiple: true
            website: ocw-www

  - category: Settings
    label: Menu
    name: menu
    files:
      - file: config/_default/menus.yaml
        name: navmenu
        label: Navigation Menu
        fields:
          - {
            "label": "Menu",
            "name": "leftnav",
            "widget": "menu",
          }
