beautifulsoup4
django
boto3
celery
dj-database-url
django-guardian
django-hijack
django-hijack-admin
django-redis
djangorestframework==3.12.2
django-robots
django-safedelete==1.0.0
django-server-status
django-storages
django-webpack-loader
mitol-django-authentication==1.1.0
mitol-django-common==0.7.0
drf-extensions
ipython
newrelic
psycopg2
pygithub==1.54.1
redis
requests
sentry-sdk
social-auth-core
social-auth-app-django
uwsgi
pyyaml
yamale
