beautifulsoup4
django
boto3
celery
concoursepy
dj-database-url
django-guardian
django-hijack
django-hijack-admin
django-redis
djangorestframework==3.12.2
django-robots
django-safedelete==1.0.0
django-server-status
django-storages
django-webpack-loader
mitol-django-authentication==1.2.0
mitol-django-common==1.2.0
drf-extensions
ipython
newrelic
psycopg2
pygithub==1.55
redis
requests
sentry-sdk
social-auth-core>=4
social-auth-core[saml]>=4
social-auth-app-django>=4
uwsgi
pyyaml
yamale
