beautifulsoup4
django
boto3
celery
dj-database-url
django-redis
django-robots
django-server-status
django-webpack-loader
factory_boy
faker
ipython
newrelic
psycopg2
redis
requests
sentry-sdk
uwsgi
pyyaml
