black==20.8b1
bpython
codecov
ddt
django-debug-toolbar
ipdb
moto
nplusone
pdbpp
pip-tools
pylint
pylint-django
pytest
pytest-cov
pytest-env==0.6.2
pytest-django
pytest-mock
pytest-pylint
semantic-version
