collections: list(include('content_item'))
---
content_item:
    name: str()
    label: str()
    category: str()
    fields: list(include('field'), required=False)
    folder: str(required=False)
    file: str(required=False)
    files: list(include('inner_content_item'), required=False)
---
inner_content_item:
    name: str()
    label: str()
    fields: list(include('field'), required=False)
    file: str(required=False)
---
field:
    widget: enum('string', 'text', 'markdown', 'file', 'select', 'boolean')
    label: str()
    name: str()
    minimal: bool(required=False)
    required: bool(required=False)
    help: str(required=False)
    fields: list(include('field'), required=False)
    multiple: bool(required=False)
    min: int(required=False)
    max: int(required=False)
    options: list(str(), required=False)
    default: any(required=False)
