root-url-path: str()
content-dir: str(required=False)
collections: list(include('content_item'))
---
content_item:
    name: str()
    label: str()
    label_singular: str(required=False)
    category: str()
    fields: list(include('field'), required=False)
    folder: str(required=False)
    files: list(include('inner_content_item'), required=False)
---
inner_content_item:
    name: str()
    label: str()
    fields: list(include('field'), required=False)
    file: str(required=False)
---
field:
    widget: enum('string', 'text', 'markdown', 'file', 'select', 'boolean', 'hidden', 'object', 'relation', 'menu', 'hierarchical-select')
    label: str()
    label_singular: str(required=False)
    name: str()
    minimal: bool(required=False)
    required: bool(required=False)
    help: str(required=False)
    fields: list(include('field'), required=False)
    multiple: bool(required=False)
    min: int(required=False)
    max: int(required=False)
    options: list(str(), required=False)
    options_map: map(required=False)
    default: any(required=False)
    condition: include('field_condition', required=False)
    display_field: str(required=False)
    collection: str(required=False)
    collections: list(str(), required=False)
    filter: include('relation_filter', required=False)
    website: str(required=False)
    attach: str(required=False)
    levels: list(include('level'), required=False)
---
field_condition:
    field: str()
    equals: str()
---
relation_filter:
    field: str()
    filter_type: enum('equals')
    value: any()
---
level:
    name: str()
    label: str()
