$light-gray-bg: #eeeeee;
$error-red: #db312a;
$std-max-width: 1447px; // arbitrary value, copied from ocw-next
$narrow-max-width: 800px;

$studio-blue: #3f87e5;
$studio-green: #00bc87;
$studio-background: #f7fafc;
$studio-black: #030303;
$studio-text-gray: #b3b3b3;
$studio-gray: #e4e4e4;
