.blue-button {
  background-color: $studio-blue;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 6px 16px;
}

.blue-button-outline {
  border-color: $studio-blue;
  background-color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 6px 16px;
}

.green-button,
.green-button-outline {
  font-size: 14px;
  border-radius: 8px;
  padding: 6px 16px;
}

.green-button,
.green-button-outline:hover {
  background-color: $studio-green;
  color: white;
}

.green-button-outline {
  border-color: $studio-green;
  background-color: white;
  color: $studio-green;
}

.gray-button {
  cursor: pointer;
  color: $studio-gray;

  &.hover {
    &:hover {
      color: $studio-black;
    }
  }
}
