.blue-button {
  background-color: $studio-blue;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 6px 16px;
}

.blue-button-outline {
  border-color: $studio-blue;
  background-color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 6px 16px;
}

.green-button {
  background-color: $studio-green;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  padding: 6px 16px;
}
