// Layout goes here
@import "node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "home-page";
@import "site-page";
@import "sites-dashboard";
@import "site-collaborators";
@import "forms";
@import "card";
@import "pagination";
@import "button";
@import "list";

body {
  font-family: "Roboto", sans-serif;
  background-color: $studio-background;
  // default font color
  color: $studio-black;
  font-size: $std-font-size;

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

.app {
  .page-content {
    max-width: $std-max-width;
    margin: 0 auto;
  }
}

.std-page-body {
  max-width: $std-max-width;
}

.narrow-page-body {
  max-width: $narrow-max-width;
}

header {
  background-color: white;
}

a {
  cursor: pointer;
  color: $studio-black;

  &:hover {
    color: $studio-black;
  }
}

.border-bottom-gray {
  border-bottom: 1px solid $studio-gray;
}

// modal as sidebar CSS adapted from https://codepen.io/bootpen/pen/jbbaRa
$modal-sidebar-width: 540px;

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  min-width: $modal-sidebar-width;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: -$modal-sidebar-width;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

// from https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/css.html
/*
 * Configure the z-index of the ckeditor UI, so when inside a Bootstrap
 * modal, it will be rendered over the modal.
 */
:root {
  --ck-z-default: 10000 !important;
  --ck-z-modal: calc(var(--ck-z-default) + 999);
}
