// Layout goes here
@import "node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "site-page";
@import "sites-dashboard";

$std-max-width: 1447px;  // arbitrary value, copied from ocw-next
$narrow-max-width: 600px;

.app {
  max-width: $std-max-width;
  margin: 0 auto;
}

.std-page-body {
  max-width: $std-max-width;
}

.narrow-page-body {
  max-width: $narrow-max-width;
}

header {
  border: 1px solid black;  // for visibility, remove when we migrate away from wireframe
}

.active {
  font-weight: bold;
}
