$sidebar-width: 200px;
$menu-spacing: 15px;

.site-page {
  .content-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .sidebar {
    background-color: $light-gray-bg;
    border: 1px solid black;
    border-right-style: none;
    padding: $menu-spacing $menu-spacing 0 $menu-spacing;
    width: $sidebar-width;

    ul {
      list-style: none;
      margin: 0;
    }

    > ul {
      padding: 0;

      > li {
        padding-bottom: $menu-spacing;
      }
    }
  }

  .content {
    flex-grow: 1;
    border: 1px solid black;
  }
}
