$sidebar-width: 200px;
$menu-spacing: 20px;

.site-page {
  .content-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .sidebar {
    border-right-style: none;
    width: $sidebar-width;

    a {
      color: $studio-black;
      display: block;

      &.active {
        color: $studio-green;
      }
    }

    h4 {
      i {
        color: $studio-green;
      }
    }
  }

  .content {
    flex-grow: 1;

    .listing-result {
      cursor: pointer;
    }

    .nav-tabs {
      margin-left: 15px;
    }
  }

  .ck.ck-content.ck-editor__editable {
    min-height: 300px;
  }

  .btn-publish {
    margin-right: 1em;
    margin-bottom: 0.5em;
  }
}

.sortable-item {
  border: 1px solid $studio-text-gray;
  border-radius: 5px;
  align-items: center;

  .reorder {
    cursor: grab;
  }
}

.item-action-button {
  padding: 0;
  border: 0;
  background-color: unset;

  &.material-icons {
    color: $studio-text-gray;
  }
}

.hierarchical-select {
  button {
    min-width: 100px;
  }
}

.resource-picker-listing {
  .resource-item {
    cursor: pointer;
    padding: 2px;
    margin: 2px;

    &.focused {
      border: 2px solid black;
      padding: 0;
    }

    h4 {
      margin-bottom: 0;
      padding: 2px;
    }
  }
}

.resource-picker-dialog {
  .tab-content {
    padding: 20px 0;
  }

  .nav-tabs {
    border-bottom: 1px solid $dialog-gray;

    .nav-item {
      margin-left: 10px;
      margin-right: 2px;
      background-color: $dialog-gray;
      border-top: 1px solid $dialog-gray;
      border-left: 1px solid $dialog-gray;
      border-right: 1px solid $dialog-gray;

      &.active {
        //border-bottom: white;
        background-color: white;
      }
    }
  }
}
