$sidebar-width: 200px;
$menu-spacing: 20px;

.site-page {
  .content-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .sidebar {
    border-right-style: none;
    width: $sidebar-width;

    a {
      color: $studio-black;
      display: block;

      &.active {
        color: $studio-green;
      }
    }

    h4 {
      i {
        color: $studio-green;
      }
    }
  }

  .content {
    flex-grow: 1;

    .listing-result {
      cursor: pointer;
    }

    .nav-tabs {
      margin-left: 15px;
    }
  }

  .ck.ck-content.ck-editor__editable {
    min-height: 300px;
  }

  .btn-publish {
    margin-right: 1em;
    margin-bottom: 0.5em;
  }
}

.sortable-item {
  border: 1px solid $studio-text-gray;
  border-radius: 5px;
  align-items: center;

  .reorder {
    cursor: grab;
  }
}

.item-action-button {
  padding: 0;
  border: 0;
  background-color: unset;

  &.material-icons {
    color: $studio-text-gray;
  }
}
