.collaborator-add-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
}

.collaborator-table {
  i {
    vertical-align: middle;
    padding-right: 10px;
    cursor: pointer;
    color: black;
  }
}