$sidebar-width: 200px;
$menu-spacing: 20px;

.site-page {
  .content-container {
    display: flex;
    flex-wrap: nowrap;
  }

  .sidebar {
    border-right-style: none;
    width: $sidebar-width;

    a {
      color: $studio-black;
      display: block;

      &.active {
        color: $studio-green;
      }
    }

    h4 {
      i {
        color: $studio-green;
      }
    }
  }

  .content {
    flex-grow: 1;

    .listing-result {
      cursor: pointer;
    }

    .nav-tabs {
      margin-left: 15px;
    }
  }

  .ck.ck-content.ck-editor__editable {
    min-height: 300px;
  }
}
