---
name: Release Candidate Deploy

on:
  workflow_run:
    workflows: [CI]
    types: [completed]
    branches: [release-candidate]
  workflow_dispatch: # manual trigger

jobs:
  # runs if CI workflow was successful OR if this was manually triggered
  on-success:
    runs-on: ubuntu-24.04
    if: >
      github.event_name == 'workflow_dispatch' ||
      github.event.workflow_run.conclusion == 'success'
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      with:
        ref: release-candidate
    - uses: akhileshns/heroku-deploy@e3eb99d45a8e2ec5dca08735e089607befa4bf28
      with:
        heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
        heroku_app_name: "ocw-studio-rc"
        heroku_email: ${{ secrets.HEROKU_EMAIL }}
        branch: release-candidate
  # runs ONLY on a failure of the CI workflow
  on-failure:
    runs-on: ubuntu-24.04
    if: >
      github.event_name == 'workflow_dispatch' ||
      github.event.workflow_run.conclusion == 'failure'
    steps:
    - run: echo 'The triggering workflow failed'
